streamlit>=1.38
langgraph>=0.2.34
langchain>=0.3.4
langchain-community>=0.3.2
langchain-openai>=0.2.3
langchain-anthropic>=0.2.3
langchain-qdrant>=0.1.4
langchain-text-splitters>=0.3.0
qdrant-client>=1.11.3
beautifulsoup4>=4.12.3
python-dotenv>=1.0.1
